.backgroundImageHolder {
    opacity: 0.5;
    transform: translate3d(0px, 0px, 0px);
    width: 1280px;
    height: 1024px;

    max-width: none;
}

.backgroundImage {

    background-color: rgb(0, 0, 0);
    transform: translate3d(0px, 0px, 0px);
    width: 1280px;
    height: 1024px;

}



.container {
    position: center;
    text-align: center;
    color: white;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}



/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centerText {
    font-family: "Amatic SC";
    font-size: 110px;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
}


.top-left {
    font-family: "Cabin Sketch";
    font-size: 50px;
    font-style: normal;
    font-variant: normal;
}


.top-right {
    font-family: "Cabin Sketch";
    font-size: 50px;
    font-style: normal;
    font-variant: normal;
}




  
.form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
  }


  .title {
    color: #eee;
    font-family: "Amatic SC";
    font-size: 50px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 10px;
  }
  
  .ic2 {
    margin-top: 15px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .playButton {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 25px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    font-family: "Cabin Sketch";
    width: 80%;
  }


.playButton:hover {background-color: #3e8e41}

.playButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.prompt {
    color: rgb(191, 138, 91);
    font-family: "sans-serif";
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
}


.prompt-2 {
    color: rgb(191, 138, 91);
    font-family: "sans-serif";
    font-size: 13.5px;
    font-style: normal;
    font-variant: normal;
}
